<!DOCTYPE html >
<html  xmlns:th="http://www.thymeleaf.org">
<head lang="ja">
    <meta charset="UTF-8" />
    <title>Record Writer</title>
     <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"
          href="/static/bower_components/bootstrap/dist/css/bootstrap.css"
          th:href="@{/bower_components/bootstrap/dist/css/bootstrap.css}"/>
      
</head>
<body>
 <script src="/static/bower_components/jquery/dist/jquery.js"
            th:src="@{/bower_components/jquery/dist/jquery.js}"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.js"
            th:src="@{/bower_components/bootstrap/dist/js/bootstrap.js}"></script>

<form action="./" method="post" th:object="${recordForm}">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#writeRecord" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    今日の出来事を記載する
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input
                            placeholder="今日は何がありましたか？"
                            name="title" id="title" th:field="*{title}" type="text"/>
                </div>
                <div class="form-group">
                    <label for="record">Record:</label>
                    <textarea
                        name="record" id="record" cols="30" rows="5"
                        placeholder="詳細に教えていただけますか？"
                        th:field="*{record}"></textarea>
                </div>
                <button type="submit" class="btn btn-default" >送信</button>
            </div>
        </div>
    </div>
   

    
</form>

<div th:each="record,iterStat  : ${records}" >
    <h4 class="panel-title" th:text="${record.title}">
    </h4>
    <div class="panel-body" th:text="${record.record}">
    </div>
</div>


</body>
</html>